<%- include('./partials/head') %>

  <div id="personal-card">
    <section class="profile">
      <img class="profile-picture" src="<%= member.avatar %>" alt="" width="150" height="150">
      <h1>
        <%= `${member.name} ${member.surname}`%>
      </h1>
      <span>A.K.A.</span>
      <h2>
        <%= member.nickname %>
      </h2>
    </section>

    <section class="info">
      <section class="block" id="github">
        <h3>GitHub</h3>
        <div class="content">
          <img class="profile-picture" src="<%= member.avatar %>" alt="" width="50" height="50">
          <p>
            <%= member.gitHubHandle %>
          </p>
          <a href="">Visit profile</a>
        </div>
      </section>

      <section class="block" id="bio">
        <h3>Bio</h3>
        <div class="content">
          <p>Op het moment heb ik al wat kennis van HTML, CSS en JavaScript, maar wil nog véél meer leren! Daarnaast
            vind ik het leuk om formule 1, films en series te kijken. Mijn favoriete spel is nu (toepasselijk) F1
            Manager 22, waar je speelt als teambaas. Mijn favoriete gerecht is een pannenkoek met spek en stroop lekker
            man.</p>
        </div>
      </section>
    </section>
  </div>

  <%- include('./partials/foot') %>